/* Large Screen */
@media screen and (max-width: 1279px) {
  /* header section */
  .logo-wrap{
    width: 27%;
  }

  .nav-links{
    width: 73%;
  }
  /* end of header */


}

/* Medium Screens */
@media screen and (max-width: 1024px) {
  /* header section */
  header {
    padding: 40px 20px;
  }

  .logo-wrap{
    width: 27%;
  }

  .logo{
    width: 110px;
  }

  .nav-links{
    width: 73%;
  }

  .page-links{
    gap: 2rem;
  }

  .socials{
    gap: 1rem;
  }
  /* end of header */

  .hero {
    padding: 20px;
  }
  
  .wrap1 h2 {
    font-size: 2.2rem;
  }
  
  .wrap1 p {
    line-height: 1.8;
  }
  
  .timer-fork {
    padding-bottom: 40px;
  }
  
  .wrap2 .badge {
    width: 100px;
    height: 100px;
  }

}

/* Tablet Screens */
@media screen and (max-width: 768px) {
  /* header section */
  header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
  }

  .logo-wrap{
    width: 50%;
  }

  .nav-links{
    display: block;
    /* width: 50%; */
    position: fixed;
    top: 11%;
    right: 0; 
    width: 200px; 
    background-color: var(--light-blue);
    font-size: 1.8rem;
    padding: 15px;
    border-radius: 15px;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden; 
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  .nav-links.show{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .toggle-icons{
    display: flex;
  }

  .menu{
    font-size: 1.5rem;
  }

  .close{
    display: none;
    font-size: 1.5rem;
  }
  .page-links{
    display: block;
    padding-bottom: 15px;
  }
  /* end of header */

  .hero-wrap {
    flex-direction: column;
  }
  
  .wrap1, .wrap2 {
    width: 100%;
  }
  
  .wrap1 {
    border-radius: 50px 50px 0 0;
    padding: 0 20px;
  }
  
  .wrap2 .chicken {
    border-radius: 0 0 50px 50px;
  }
  
  .wrap1 h2 {
    font-size: 2rem;
    padding: 0 0 20px 0;
  }
  
  .timer-fork {
    padding-bottom: 30px;
  }
  
  .wrap2 .badge {
    top: 13%;
    left: 70%;
    /* transform: translateX(-50%); */
  }
  
  .name-view {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
  }
  
  .view {
    width: 100%;
  }

  
}

/* Small Screens (mobile phone) */
@media screen and (max-width: 480px) {
  .wrap1{
    border-radius: 30px;
  }
  .wrap2 .badge{
    display: none;
  }
  
  .wrap2 .chicken{
    display: none;
  }
}
